.mainTitle {
  width: 84px;
  height: 40px;
  left: 100px;
  top: 160px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  text-transform: uppercase;
  color: #1d1f22;
}

.horizontalLine {
  margin-left: 0px;
  width: 1097px;
  height: 0.5px;

  background: #e5e5e5;
}

.title1 {
  display: block;
  width: 292px;
  height: 27px;

  margin-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */

  display: flex;
  align-items: center;
}
.title2 {
  width: 292px;
  height: 27px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */

  display: flex;
  align-items: center;

  color: #1d1f22;
}
.rightDiv {
  float: right;
  margin-top: -150px;
  margin-right: 10px;
}
.price {
  width: 86px;
  height: 46px;
  margin-top: -20px;
  margin-bottom: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */

  display: flex;
  align-items: center;

  color: #1d1f22;
}

.boxes {
  display: inline-block;

  margin-top: -550px;
}
.sizeBox {
  display: inline-block;
  width: 63px;
  height: 45px;
  margin-right: 20px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
}
.plusBox {
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;

  border: 1px solid #1d1f22;
  box-sizing: border-box;
  margin-bottom: 30px;
  cursor: pointer;
}
.amountBox {
  text-align: center;
  justify-content: center;
  margin-bottom: 43px;
}
.minusBox {
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-size: 30px;
  cursor: pointer;
}
.minusBox:active {
  background-color: gray;
}
.plusBox:active {
  background-color: gray;
}
.smallImg {
  width: 141px;
  height: 185px;
  background-color: maroon;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  float: right;
}
.smallImg img {
    width: 141px;
    height: 185px;
    object-fit: contain;
}
/* ----------Mini-----------*/
.mainTitleMini {
  width: 184px;
  height: 40px;
  left: 100px;
  top: 160px;
    margin-bottom: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 125% */

  text-transform: uppercase;
  color: #1d1f22;
}

.title1Mini {
  display: block;
  width: 292px;
  height: 27px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-top: -35px;
  /* identical to box height, or 90% */

  display: flex;
  align-items: center;
}
.title2Mini {
  width: 292px;
  height: 27px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: -20px;
  /* identical to box height, or 90% */

  display: flex;
  align-items: center;

  color: #1d1f22;
}
.priceMini {
  width: 86px;
  height: 46px;
  margin-top: -20px;
  margin-bottom: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  /* or 75% */

  display: flex;
  align-items: center;

  color: #1d1f22;
}
.rightDivMini {
    float: right;
    margin-top: -100px;
    margin-right: 10px;
  }
.boxesMini {
  display: inline-block;

  margin-top: 0px;
}
.sizeBoxMini {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
.sizeBoxTextMini {
  font-size: 12px;
  margin-top: 2px;
}
.plusBoxMini {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;

  border: 1px solid #1d1f22;
  box-sizing: border-box;
  margin-bottom: 30px;
  cursor: pointer;
}
.amountBoxMini {
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}
.minusBoxMini {
  width: 24px;
  height: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}
.minusBoxMini:active {
  background-color: gray;
}
.plusBoxMini:active {
  background-color: gray;
}
.smallImgMini {
  width: 105px;
  height: 137px;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  float: right;
  object-fit: contain;
}


.smallImgMini img {
    object-fit: contain;
    width: 105px;
    height: 137px;
}
.totalMini {
    font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* or 112% */
margin-right: 10px;


color: #1D1F22;
}
.total{}

.buttonMini, .buttonMini1 {
    display: inline-flex;

    align-items: center;
    padding: 16px 32px;
    width: 150px;
    height: 52px;
    margin-right: 10px;
  
    background: #5ece7b;
    border: 0px;
    cursor: pointer;
  }
  .buttonMini {
      background-color: white;
      border: 1px solid black
      
  }
  .buttonMini1:active {
    background-color: #36b056;
  }
  .buttonMini:active {
      background-color: lightgrey;
  }
  
  .buttonMini span, .buttonMini1 span {
    position: static;
    /* width: 105px; */
    height: 20px;
  
    /* --buttonMini-font */
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* identical to box height, or 19px */
  
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
  
    /* --c-white */
  
    color: #ffffff;
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
  .buttonMini span  {
      color: black;
  }