.navBar {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: white;
    margin-top: -40px;
    margin-left: -117px;
    padding-left: 117px;
}
.menuItem {
    height: 40px;
    display: inline;
    padding: 18px;
    cursor: pointer;
}
.menuItemActive {
    height: 40px;
    display: inline;
    padding: 18px;
    border-bottom: 2px solid #5ece7b;
    color: #5ece7b;
    cursor: pointer;
}
.dropdownValue {
  width: 12px;
  height: 29px;

  /* --price-regular-font */

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #1d1f22;
  padding: 10px;
  cursor: pointer;
}
.dropdownValueIcon {
  font-size: 13px;
  margin-top: -5px;
}
.dropdown {
  position: absolute;
  width: 114px;
  height: 240px;
  top: 35px;
  margin-left: "-20px";
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 1000;
}
.dropdownItem {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 200;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  text-align: center;
  padding: 10px;

  color: #1d1f22;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: lightgrey;
}
.dropdownItem:active {
  background-color: lightslategray;
}
.miniCart {
  margin-top: -2px;
  height: 440px;
  width: 340px;
  overflow-y: scroll;
  margin-left: -300px;
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.cartSize {

  position: fixed;
  text-align: center;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 12px;
  height: 20px;
  width: 20px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  margin-top: 3px;
  margin-left: -7px;
}
